.App {
  background-color: gray;
  color: aliceblue;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  text-align: center;
}
.button {
  color: #ffffff;
  padding: 5px 25px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  widows: 300px;
  border-radius: 15px;
  background-color: aquamarine;
}
